// Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Global variables
$borderRadius: 8px;

// Color palette - Catppuccin Mocha
$colorPalette: (
    crust: #11111b,
    mantle: #181825,
    base: #1e1e2e,

    surface0: #313244,
    surface1: #45475a,
    surface2: #585b70,

    overlay0: #6c7086,
    overlay1: #7f849c,
    overlay2: #9399b2,

    subtext0: #a6adc8,
    subtext1: #bac2de,
    text: #cdd6f4,

    lavender: #b4befe,
    blue: #89b4fa,
    sapphire: #74c7ec,
    sky: #89dceb,
    teal: #94e2d5,
    green: #a6e3a1,
    yellow: #f9e2af,
    peach: #fab387,
    maroon: #eba0ac,
    red: #f38ba8,
    mauve: #cba6f7,
    pink: #f5c2e7,
    flamingo: #f2cdcd,
    rosewater: #f5e0dc,
);

:root {
    // Font/Text
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    // Color
    background-color: map-get($map: $colorPalette, $key: base);
    color: map-get($map: $colorPalette, $key: text);

    // Buttons
    button {
        // Get rid of default values
        all: unset;

        // Font/Text
        font-family: inherit;
        font-size: 25px;
        text-align: center;

        // Color
        background-color: inherit;
        color: inherit;

        // Border
        border: 1px solid map-get($map: $colorPalette, $key: text);
        border-radius: $borderRadius;

        // Padding and margin
        padding: 0px 20px;

        // Transitions
        transition: all 0.1s linear;

        // Hover
        cursor: pointer;
        &:hover {
            background-color: map-get($map: $colorPalette, $key: red);
            transform: translateX(-1px) translateY(-1px);
        }

        // Clicked
        &:active {
            background-color: map-get($map: $colorPalette, $key: base);
            transform: translateX(1px) translateY(1px);
        }
    }

    // Paragraphs
    p {
        font-size: 1.5rem;
    }
}

// Short summary about myself
.intro {
    .header {
        font-size: 3rem;
        text-align: center;
    }
    .subheader {
        font-size: 1.5rem;
        text-align: center;
    }
}
