---
// Layouts
import DefaultLayout from "../layouts/default.astro";
---
<DefaultLayout title="Blog">
  <main>
    <div class="intro">
      <h2>Blog</h2>
        <p>'Tis a work in progress.</p>
    </div>
  </main>
</DefaultLayout>
