---
// Modules
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");

// Layouts
import DefaultLayout from "/src/layouts/default.astro";
---
<DefaultLayout title="Blog">
  <main>
    <div class="intro">
      <h2>Blog</h2>
      <ul>
        {allBlogPosts
          // Sort posts by pubDate (newest first)
          .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))
          .map(post => (
            <li key={post.slug}>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
              <span> — {new Date(post.data.pubDate).toLocaleDateString()}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</DefaultLayout>
