// Contact information
footer {
  ul {
    // Flexbox - Center the links
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content:center;

    // List
    list-style: none;
    li {
      // Add a dot after each item but remove the dot after the last item
      &::after {content: "•";}
      &:last-child::after {content: "";}
    }
  }
}

