@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/roboto-slab/RobotoSlab-Regular.woff2") format("woff2");
  font-display: swap;
}

/* Colors and typography */
@theme {
  /* Fonts */
  --font-roboto-slab: "Roboto Slab";

  /* Colors */
  --color-*: initial;
  --color-bg: #000;
  --color-fg: #fff;
  --color-card: #011;
}

/* Global styles */
:root {
  @apply bg-bg text-fg font-roboto-slab;
}
h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-2xl font-semibold;
}
h3 {
  @apply text-xl font-medium;
}
h4 {
  @apply text-lg font-medium;
}
p {
  @apply text-base;
}

/* Custom styles */
.card {
  @apply bg-card;
  @apply border border-solid border-fg rounded-sm;
  @apply w-full md:w-auto md:max-w-128 p-2;
}
