@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/roboto-slab/RobotoSlab-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Yarndings";
  src: url("/fonts/Yarndings20-Regular.woff2") format("woff2");
  font-display: swap;
}

/* Colors and typography */
@theme {
  /* Fonts */
  --font-yarndings: "Yarndings";

  /* Colors */
  --color-*: initial;
}

/* Global styles */
:root {
  background-color: #000;
  color: #fff;
  font-family: "Roboto Slab", serif;
}
