@use "./globals.scss" as globals;

header {
	// Compress header slightly
	width: 87vw;
	margin: auto;

	// Flexbox
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	// My profile
	#profile {
		// Flexbox
		display: flex;
		align-items: center;
		gap: 12px;

		// Arrow cursor on hover
		cursor: pointer;

		// Username and pronouns
		#userInfo {line-height: 0.5;}

		// Profile picture
		#pfp {
			width: 4vw;
			height: auto;
			border-radius: 50%;
		}
	}

	// Navigation bar
	nav {
		display: flex;
		gap: 1em;
	}
}
