---
// Don't include 404 page in the sitemap
export const sitemap = false;

// Layouts
import DefaultLayout from "../layouts/DefaultLayout.astro";

// List of error messages from which we choose a random one
const errorMessages = [
	"Achievement Unlocked: How Did We Get Here?",
	"Welcome To The Void",
	"Want Some Coffee? 🍵",
	"Poking Around The Wrong Places Are We?",
	"Thou Shalt Not Enter",
	":P",
];

// Randomly pick an error message from the array
const randomMessage = errorMessages[Math.floor(Math.random() * errorMessages.length)];
---
<DefaultLayout title="404 - Page Not Found" description="Voxi0's custom 404 page">
	<div class="flex flex-col items-center">
		<div class="prose text-center">
			<h2>{randomMessage}</h2>
			<h3>404 - Page Not Found</h3>
		</div>
		<a target="_self" href="/">
			<button class="mt-4">Go Back</button>
		</a>
	</div>
</DefaultLayout>
