---
// Layouts
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Voxi0 - About">
	<article>
		<p>
			I honestly don't really know what to put here because I put basically all about myself in the homepage.
		</p>
		<p>
			Sooo, let's just talk about how I made this website. I really liked the idea and simplicity of AstroJS
			and it is really performant according to it's claims. It's a really nice thing to work with mainly because
			I can reuse code very, very easily with layouts among a whole load of other cool things. It's also very
			minimalistic in my opinion and doesn't interfere with development too much.
		</p>
		<p>
			It produces a static website with very minimal JavaScript and does a boatload of other things to improve
			performance and is just awesome in general.
		</p>
	</article>
</DefaultLayout>
