---
// Layouts
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Voxi0 - About" description="About Voxi0">
	<article>
		<p>
			Please be mindful that I'm not really amazing with webdev and that I don't have tons of experience in it 🥲
			Expect all sorts of weird design choices and bugs :P
		</p>
		<p>
			I made this website with AstroJS and Tailwind which are 2 amazing
		</p>
	</article>
</DefaultLayout>
