---
// Modules
import { getCollection } from "astro:content";

// Layouts
import DefaultLayout from "/src/layouts/default.astro";

// Components
import BlogPost from '../components/BlogPost.astro';

// All blog posts
const allPosts = await getCollection("blog");
---
<DefaultLayout title="Blog">
  <main>
    <div class="intro">
      <h2>Blog</h2>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
          ))
        }
      </ul>
    </div>
  </main>
</DefaultLayout>
