---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout title="Home">
  <main class="md:mx-8 lg:mx-16 flex flex-col">
    <!-- Introduction -->
    <section class="card self-start mb-2">
      <h2>Hi!</h2>
      <p>I'm a 16 year old computer science, programming and Linux enthusiast</p>
    </section>

    <section class="card self-end">
      <h3>Favourite Games</h2>
      <ul class="list-inside list-disc">
        <li>Half-Life</li>
        <li>Yume Nikki</li>
        <li>Dying Light</li>
      </ul>
    </section>
  </main>
</DefaultLayout>
