---
// Layouts
import DefaultLayout from "../layouts/DefaultLayout.astro";

// Variables
const currentYear = new Date().getFullYear();
const currentCountry = "the United Kingdom";
const favGames = [
	"Doom 1 and 2",
	"Half Life",
	"Cry of Fear",
	"Ghost of Tsushima",
	"Silent Hill 2",
	"Yume Nikki",
	"Spooky's Jumpscare Mansion",
	"Psychopomp",
	"TheoTown",
];
---
<DefaultLayout title="Voxi0" description="Voxi0's personal website's homepage">
	<article>
		<h1>🌠 Hi! I'm Voxi0</h1>
		<p>
			I'm a {currentYear - 2009} year old computer science, programming and Linux enthusiast, I use NixOS btw :p
			I currently live in {currentCountry} but I was born in Bangladesh and lived there for about 13 years before moving.
		</p>

		<!-- Unordered lists of favourite stuff -->
		<h2>Favourites</h2>

		<!-- Favourite games -->
		<h3>Games</h3>
		<ul>
			{favGames.map(game => <li>{game}</li>)}
		</ul>
	</article>
</DefaultLayout>
