---
// Layouts
import DefaultLayout from "../layouts/DefaultLayout.astro";

// Constants
const currentCountry = "the United Kingdom";
const hobbies = [
	"Programming", "Music",
	"Bit of Gaming", "Watching Movies",
	"Long Walks / Hiking", "Exploring / Adventuring"
];
const favGames = [
	"Doom 1 and 2",
	"Half Life",
	"Cry of Fear",
	"Ghost of Tsushima",
	"Silent Hill 2",
	"Yume Nikki",
	"Spooky's Jumpscare Mansion",
	"Psychopomp",
	"TheoTown",
];
---
<DefaultLayout title="Voxi0" description="Voxi0's personal website's homepage">
	<article class="prose">
		<!-- Introduction -->
		<h1>🌠 Voxi0</h1>
		<p>
			A {new Date().getFullYear() - 2009} year old computer science, programming and Linux enthusiast that currently lives in
			{currentCountry} and is a student.
		</p>

		<!-- Unordered lists of my favourites -->
		<div>
			<h2>Favourites</h2>

			<!-- Hobbies -->
			<h3><button class="w-full">Hobbies</button></h3>
			<ul class="transition-all duration-[var(--transitionDuration)] ease-out pl-5">
				{hobbies.map(hobby => <li>{hobby}</li>)}
			</ul>

			<!-- Games -->
			<h3><button class="w-full">Games</button></h3>
			<ul class="transition-all duration-[var(--transitionDuration)] ease-out pl-5">
				{favGames.map(game => <li>{game}</li>)}
			</ul>
		</div>
	</article>
</DefaultLayout>
