---
// Layouts
import DefaultLayout from "../layouts/default.astro";

// Variables
const identity = {
	name: "Voxi0",
	age: "15",
	country: "the UK",
	hobbies: ["programming", "listening to music", "mathematics (even if I'm bad at it 😅)"]
};
---
<DefaultLayout title="Voxi0" icon="/icon.svg">
	<main>
		<div class="intro">
			<h2>Hi!</h2>
			<p>
				My name is <strong>{identity.name}</strong> (I'm not planning to reveal my real name just yet).
				I'm a {identity.age}yo Linux/Nix and computer science enthusiast.
				I'm currently living in {identity.country}. I like {identity.hobbies.join(", ").replace(/, ([^,]*)$/, " and $1")}.
			</p>
		</div>
	</main>
</DefaultLayout>
