---
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import pfp from "../assets/pfp.webp";
---
<DefaultLayout title="Voxi0">
  <header class="flex items-center justify-center">
    <Image
        priority
        loading="eager"
        densities={[1.5, 2]}
        src={pfp}
        alt="Profile"
        class="rounded-full m-2"
    />
    <h1 class="text-3xl">Voxi0</h1>
  </header>
  <footer>
    <h1 class="font-yarndings text-center text-md">curious much?</h1>
  </footer>
</DefaultLayout>
