---
// Components
import Link from "./Link.astro";

// Variables
const currentYear = new Date().getFullYear();
---
<footer class="not-prose text-center">
	<!-- Links to various social media accounts -->
	<ul class="footer-social-media-links mt-8">
		<li>
			<Link href="https://www.reddit.com/user/derpJava/" target="_blank" rel="noopener noreferrer">Reddit</Link>
		</li>
		<li>
			<Link href="https://discord.com/users/1016332310741799054/" target="_blank" rel="noopener noreferrer">Discord</Link>
		</li>
	</ul>

	<!-- Just a copyright for no reason -->
	<p>&copy;{currentYear} Voxi0</p>
</footer>
