---

---
<!-- Footer to show contact information - Links to my social media accounts -->
<footer>
  <!-- List linking to my social media accounts -->
  <ul>
    <li>
      <a href="https://www.discord.com/users/1016332310741799054">Discord</a>
    </li>
    <li>
      <a href="https://www.reddit.com/user/derpJava/">Reddit</a>
    </li>
  </ul>
</footer>
