---
// AstroJS native components
import { Image } from 'astro:assets';

// Components
import Link from './Link.astro';

// Stylesheets
import '../styles/header.scss';

// Images
import profilePicture from '../images/pfp.png';
---
<header>
	<!-- Profile -->
	<a href="/">
		<!-- My profile -->
		<div id="profile">
			<Image
				id="pfp"
				loading="eager"
				decoding="async"
				src={profilePicture}
				alt="My profile"
				format="png"
				quality={100}
			/>
			<div id="userInfo">
				<h3>Voxi0</h3>
				<p>he/him</p>
			</div>
		</div>
	</a>

	<!-- Random art - "Borrowed" from `https://soph.systems/` :P -->
	<h2>ᓚᘏᗢ</h2>

	<!-- Navigation bar -->
	<nav>
		<Link href="/">home</Link>
		<Link href="/about">about</Link>
	</nav>
</header>
