---
const currentPath = Astro.url.pathname;
const navItems = [
  { href: '/', label: 'Home' },
];
---
<!-- Header -->
<header>
  <!-- Profile -->
  <div class="profile">
    <img src="/pfp.jpg" alt="Voxi0's profile picture." id="pfp"/>
      <div>
        <h2 id="name">Voxi0</h2>
        <h4 id="pronouns">he/him</h4>
      </div>
  </div>

  <!-- Page navigation -->
  <nav>
    {navItems.map((item) => (
      <button class={currentPath === item.href ? 'active' : ''}>
        <a href={item.href}>{item.label}</a>
      </button>
    ))}
  </nav>
</header>
