---
// AstroJS native components
import { Image } from "astro:assets";

// Images
import profilePictureAvif from "../images/pfp.avif";
---
<header class="flex flex-nowrap justify-around items-center">
	<!-- Profile -->
	<a href="/" class="flex items-center gap-2 cursor-pointer">
		<Image
			class="w-12 rounded-full"
			loading="eager"
			decoding="async"
			src={profilePictureAvif}
			alt="My profile"
			format="avif"
			quality={50}
		/>
		<article class="prose">
			<h2 class="font-bold">Voxi0</h2>
		</article>
	</a>

	<!-- Random art - "Borrowed" from `https://soph.systems/` :P -->
	<article class="prose">
		<h2 class="font-bold">ᓚᘏᗢ</h2>
	</article>

	<!-- Navigation bar -->
	<nav>
		<a href="/" target="_self">home</a>
		<a href="/about" target="_self">about</a>
	</nav>
</header>
