---
// AstroJS native components
import { Image } from "astro:assets";

// Components
import Link from "./Link.astro";

// Images
import profilePicture from "../images/pfp.jpeg";
---
<header class="flex flex-nowrap justify-around items-center">
	<!-- Profile -->
	<a href="/" class="flex items-center gap-2 cursor-pointer">
		<Image
			class="not-prose w-12 rounded-full"
			loading="eager"
			decoding="async"
			src={profilePicture}
			alt="My profile"
			format="png"
			quality={100}
		/>
		<h2 class="font-bold">Voxi0</h2>
	</a>

	<!-- Random art - "Borrowed" from `https://soph.systems/` :P -->
	<h2 class="font-bold">ᓚᘏᗢ</h2>

	<!-- Navigation bar -->
	<nav class="not-prose">
		<Link href="/">home</Link>
		<Link href="/about">about</Link>
	</nav>
</header>
