---
// AstroJS native components
import { Image } from "astro:assets";

// Custom components
import Link from "./Link.astro";

// Images
import profilePictureAvif from "../images/pfp.avif";
---
<header class="flex flex-nowrap justify-around items-center">
	<!-- Profile -->
	<a href="/" class="flex sm:flex-row items-center gap-2 sm:gap4 cursor-pointer">
		<Image
			class="w-12 rounded-full"
			loading="eager"
			decoding="async"
			src={profilePictureAvif}
			alt="My profile"
			format="avif"
			quality={50}
		/>
		<div class="prose">
			<h2>Voxi0</h2>
		</div>
	</a>

	<!-- Random art - "Borrowed" from `https://soph.systems/` :P -->
	<div class="prose sm:text-xl">
		<h2>ᓚᘏᗢ</h2>
	</div>

	<!-- Navigation bar -->
	<nav>
		<Link href="/" target="_self">home</Link>
	</nav>
</header>
