---
---
<!-- Header -->
<header>
    <!-- Profile -->
    <div class="profile">
        <img src="/pfp.jpg" alt="Voxi0's profile picture." id="pfp"/>
        <div>
            <h2 id="name">Voxi0</h2>
            <h3 id="pronouns">he/him</h3>
        </div>
    </div>

    <!-- Page navigation -->
    <nav>
        <a href="/" target="_self">Home</a>
    </nav>

    <!-- Logo -->
    <img id="logo" src="https://raw.githubusercontent.com/NixOS/nixos-artwork/refs/heads/master/logo/nix-snowflake-colours.svg" alt="Nix snowflake colors."/>
</header>
