---
// This component checks if the user is on the current page and adds an active class so we can style it

// AstroJS
import type { HTMLAttributes } from "astro/types";

// Attributes - Used to pass data from where it"s used
type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;

// Figure out what the current page is to figure out if the link is active or not
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---
<!-- Assign `active` class to anchor tag if it's referring to the current page that the user is on -->
<a href={href} class={`${className} ${isActive ? "active" : ""}`} {...props}>
	<!-- Anchor tag text -->
	<slot/>
</a>
