---
// This component marks the link that links to the current page that the user is on with the `active` class so we can style it

// Props
const { href, class: className, ...props } = Astro.props;
---
<a href={href} class={`${className} ${Astro.url.pathname == href ? "active" : ""}`} {...props}>
	<!-- Anchor tag text -->
	<slot/>
</a>
