---
// Components
import Header from "../components/Header.astro";

// Stylesheets
import "../styles/index.scss"

// Parameters - Variables that can be passed to this layout
const { title, icon } = Astro.props;
---
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8"/>
        <meta name="generator" content={Astro.generator}/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Set favicon and website title -->
        <link rel="icon" type="image/x-icon" href={icon}/>
        <title>{title}</title>
    </head>
    <body>
        <!-- Header -->
        <Header/>

        <!-- Where our code will be inserted -->
        <slot/>
    </body>
</html>
