---
// Components
import Header from "/src/components/Header.astro";
import Footer from "/src/components/Footer.astro";

// Stylesheets
import "../styles/index.scss"

// Parameters - Variables that can be passed to this layout
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Set favicon and website title -->
    <link rel="icon" type="image/x-icon" href="/pfp.jpg"/>
    <title>{title}</title>
  </head>
  <body>
    <!-- Header -->
    <Header/>

    <!-- Where our code will be inserted -->
    <slot/>

    <!-- Footer -->
    <Footer/>
  </body>
</html>
