---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <style is:global>
    @import "tailwindcss";

    /* Fonts */
    @font-face {
      font-family: "Roboto Slab";
      src: url("/fonts/roboto-slab/RobotoSlab-Regular.woff2") format("woff2");
      font-display: swap;
    }
    @font-face {
      font-family: "Yarndings";
      src: url("/fonts/Yarndings20-Regular.woff2") format("woff2");
      font-display: swap;
    }

    /* Colors and typography */
    @theme {
      /* Fonts */
      --font-yarndings: "Yarndings";

      /* Colors */
      --color-*: initial;
    }

    /* Global styles */
    :root {
      background-color: #000;
      color: #fff;
      font-family: "Roboto Slab", serif;
    }
  </style>
  <head>
    <!-- Meta tags -->
		<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="description" content="My personal website"/>

    <!-- Preload assets, set canonical link, sitemap and favicon -->
    <link rel="preload" href="/fonts/Yarndings20-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="/fonts/roboto-slab/RobotoSlab-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="canonical" href="https://voxi0.github.io/"/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>

    <!-- Website title -->
    <title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>
